name: Deployment

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      BRANCH_NAME: ${{ github.head_ref || github.ref_name }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Get short commit hash
        id: commithash
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Build and push Scheduler image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/bolabali-scheduler:${{ env.BRANCH_NAME }},${{ secrets.DOCKER_USERNAME }}/bolabali-scheduler:${{ env.BRANCH_NAME }}-${{ steps.commithash.outputs.sha_short }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Set up Kubernetes context
        uses: azure/k8s-set-context@v1
        with:
          kubeconfig: ${{ secrets.KUBE_CONFIG }}

      - name: Deploy to Kubernetes
        run: |
          kubectl set image deployment/bolabali scheduler=${{ secrets.DOCKER_USERNAME }}/bolabali-scheduler:${{ env.BRANCH_NAME }}-${{ steps.commithash.outputs.sha_short }}
